In [9]:

concat = None

In [12]:
import pandas as pd
import xarray as xr
import os

folder_path = '../DAILY REST/'

# iterate over all files in the folder
for file_name in os.listdir(folder_path):
    # check if the current item is a file
    if os.path.isfile(os.path.join(folder_path, file_name)):
        # do something with the file
        ds = xr.open_dataset(os.path.join(folder_path, file_name))
        df = ds.to_dataframe()
        ds.close()
        df = df.reset_index()
        df.drop(columns=['depth'], inplace=True)
        df = df.dropna()
        df['time'] = df['time'].astype(str)
        #df = df[(df['time'].str[5:7]=="12")|(df['time'].str[5:7]=="01")|(df['time'].str[5:7]=="02")]
        concat = pd.concat([concat, df], ignore_index=True)
        df = None

In [14]:
concat = concat.sort_values(['time', 'latitude','longitude'])
concat

,latitude,time,longitude,ph,talk,dissic
13042170,30.312500,2009-12-01 12:00:00,18.916666,8.113097,2.727925,2.356033
13042171,30.312500,2009-12-01 12:00:00,18.958334,8.109640,2.727126,2.355098
13042172,30.312500,2009-12-01 12:00:00,19.000000,8.107011,2.726541,2.354309
13042173,30.312500,2009-12-01 12:00:00,19.041666,8.106014,2.726602,2.354140
13042174,30.312500,2009-12-01 12:00:00,19.083334,8.106150,2.727115,2.354367
...,...,...,...,...,...,...
156506037,45.729168,2020-02-28 12:00:00,13.583333,8.160475,2.800785,2.520210
13042168,45.729168,2020-02-28 12:00:00,13.625000,8.162574,2.794025,2.507789
156506038,45.729168,2020-02-28 12:00:00,13.625000,8.162574,2.794025,2.507789
13042169,45.729168,2020-02-28 12:00:00,13.666667,8.162320,2.787791,2.498892
156506039,45.729168,2020-02-28 12:00:00,13.666667,8.162320,2.787791,2.498892

In [15]:
concat.to_csv("../daily rest.csv", index=False)

In [ ]:
x['time'] = x['time'].astype(str)

x['hour'] = x['time'].str[-8:]

x['time'] = x['time'].str[:-9]

x = x.rename(columns={'time':'date'})

x

In [ ]:
#old stuff for monthly

In [ ]:
import xarray as xr
import pandas as pd

# Open the .nc file
ds = xr.open_dataset('2009-01.nc')

# Convert the xarray dataset to a Pandas dataframe
df = ds.to_dataframe()

# Close the file
ds.close()

df = df.reset_index()

df.drop(columns=['depth'], inplace=True)

df = df.dropna(subset=['so'])

df['Month'] = df['time'].astype(str)
df['Month'] = df['Month'].str[5:7]
df = df[(df['Month']=='12')|(df['Month']=='01')|(df['Month']=='02')]
df['Month'] = df['time'].astype(str)
df['Month'] = df['Month'].str[:7]
df.drop(columns=['time'], inplace=True)
df = df.rename(columns={'lon': 'Longitude', 'lat': 'Latitude','so':"Sodium"})
df = df.reindex(columns=['Latitude', 'Longitude',"Month","Sodium"])
df['Latitude'] = df['Latitude'].round(3)
df['Longitude'] = df['Longitude'].round(3)

df

In [18]:
import xarray as xr
import pandas as pd
from global_land_mask import globe
import pandas as pd
import math
from os import listdir
from os.path import isfile, join

final = None
# Open the .nc file
files = [f for f in listdir("F:/Datasets/percipitation/") if isfile(join("F:/Datasets/percipitation/", f))]

for x in range(len(files)):
    ds = xr.open_dataset('../percipitation/'+str(files[x]))

    # Convert the xarray dataset to a Pandas dataframe
    df = ds.to_dataframe()

    # Close the file
    ds.close()

    df = df.reset_index()

    df.drop(columns=['nv','lat_bounds','lon_bounds','time_bounds'], inplace=True)

    df['Month'] = df['time'].astype(str)
    df['Month'] = df['Month'].str[5:7]
    df = df[(df['Month']=='12')|(df['Month']=='01')|(df['Month']=='02')]
    df['Month'] = df['time'].astype(str)
    df['Month'] = df['Month'].str[:7]
    df.drop(columns=['time'], inplace=True)
    df['precip']=df['precip']-df['precip_error']
    df = df.rename(columns={'longitude': 'Longitude', 'latitude': 'Latitude','precip':"Precipitation"})
    df = df.reindex(columns=['Latitude', 'Longitude',"Month","Precipitation"])
    df['Latitude'] = df['Latitude'].round(3)
    df['Longitude'] = df['Longitude'].round(3)

    final = pd.concat([final,df],ignore_index=True)

final

       Latitude  Longitude    Month  Precipitation
0         31.25       1.25  2009-01       0.800335
1         31.25       1.25  2009-01       0.800335
2         31.25       3.75  2009-01       1.300882
3         31.25       3.75  2009-01       1.300882
4         31.25       6.25  2009-01       0.869254
...         ...        ...      ...            ...
82939     48.75     353.75  2020-12       4.583364
82940     48.75     356.25  2020-12       6.052087
82941     48.75     356.25  2020-12       6.052087
82942     48.75     358.75  2020-12       5.071173
82943     48.75     358.75  2020-12       5.071173

[82944 rows x 4 columns]

In [19]:
final.loc[:, "Longitude"] = final["Longitude"].apply(lambda x: x - 180)
final

       Latitude  Longitude    Month  Precipitation
0         31.25    -178.75  2009-01       0.800335
1         31.25    -178.75  2009-01       0.800335
2         31.25    -176.25  2009-01       1.300882
3         31.25    -176.25  2009-01       1.300882
4         31.25    -173.75  2009-01       0.869254
...         ...        ...      ...            ...
82939     48.75     173.75  2020-12       4.583364
82940     48.75     176.25  2020-12       6.052087
82941     48.75     176.25  2020-12       6.052087
82942     48.75     178.75  2020-12       5.071173
82943     48.75     178.75  2020-12       5.071173

[82944 rows x 4 columns]

In [20]:
final.to_csv("../Precipitation 2009-2020.csv",index=False)

In [ ]:
import xarray as xr
import pandas as pd

# Open the .nc file
ds = xr.open_dataset('../pH 2009-2021.nc')

# Convert the xarray dataset to a Pandas dataframe
df = ds.to_dataframe()

# Close the file
ds.close()

df = df.reset_index()

df.drop(columns=['depth'], inplace=True)

df = df.dropna(subset=['ph'])

df['Month'] = df['time'].astype(str)
df['Month'] = df['Month'].str[5:7]
df = df[(df['Month']=='12')|(df['Month']=='01')|(df['Month']=='02')]
df['Month'] = df['time'].astype(str)
df['Month'] = df['Month'].str[:7]
df.drop(columns=['time'], inplace=True)
df = df.rename(columns={'longitude': 'Longitude', 'latitude': 'Latitude','ph':"pH"})
df = df.reindex(columns=['Latitude', 'Longitude',"Month","pH"])
df['Latitude'] = df['Latitude'].round(3)
df['Longitude'] = df['Longitude'].round(3)

df

In [ ]:
df.to_csv("../postprocessed/pH 2009-2021.csv",index=False)

In [ ]:
import xarray as xr
import pandas as pd

# Open the .nc file
ds = xr.open_dataset('../Temperature 2009-2021.nc')

# Convert the xarray dataset to a Pandas dataframe
df = ds.to_dataframe()

# Close the file
ds.close()

df = df.reset_index()

df.drop(columns=['depth'], inplace=True)

df = df.dropna(subset=['thetao'])

df['Month'] = df['time'].astype(str)
df['Month'] = df['Month'].str[5:7]
df = df[(df['Month']=='12')|(df['Month']=='01')|(df['Month']=='02')]
df['Month'] = df['time'].astype(str)
df['Month'] = df['Month'].str[:7]
df.drop(columns=['time'], inplace=True)
df = df.rename(columns={'lon': 'Longitude', 'lat': 'Latitude','thetao':"Temperature"})
df = df.reindex(columns=['Latitude', 'Longitude',"Month","Temperature"])
df['Latitude'] = df['Latitude'].round(3)
df['Longitude'] = df['Longitude'].round(3)

df

In [ ]:
df.to_csv("../postprocessed/Temperature 2009-2021.csv",index=False)

In [ ]:
import xarray as xr
import pandas as pd

# Open the .nc file
ds = xr.open_dataset('../Alkalinity 2009-2021.nc')

# Convert the xarray dataset to a Pandas dataframe
df = ds.to_dataframe()

# Close the file
ds.close()

df = df.reset_index()

df.drop(columns=['depth'], inplace=True)

df = df.dropna(subset=['talk'])

df['Month'] = df['time'].astype(str)
df['Month'] = df['Month'].str[5:7]
df = df[(df['Month']=='12')|(df['Month']=='01')|(df['Month']=='02')]
df['Month'] = df['time'].astype(str)
df['Month'] = df['Month'].str[:7]
df.drop(columns=['time'], inplace=True)
df = df.rename(columns={'longitude': 'Longitude', 'latitude': 'Latitude','talk':"Alkalinity"})
df = df.reindex(columns=['Latitude', 'Longitude',"Month","Alkalinity"])
df['Latitude'] = df['Latitude'].round(3)
df['Longitude'] = df['Longitude'].round(3)

df

In [ ]:
df.to_csv("../postprocessed/Alkalinity 2009-2021.csv",index=False)

In [ ]:
import xarray as xr
import pandas as pd

# Open the .nc file
ds = xr.open_dataset('../Carbon 2009-2021.nc')

# Convert the xarray dataset to a Pandas dataframe
df = ds.to_dataframe()

# Close the file
ds.close()

df = df.reset_index()

df.drop(columns=['depth'], inplace=True)

df = df.dropna(subset=['dissic'])

df['Month'] = df['time'].astype(str)
df['Month'] = df['Month'].str[5:7]
df = df[(df['Month']=='12')|(df['Month']=='01')|(df['Month']=='02')]
df['Month'] = df['time'].astype(str)
df['Month'] = df['Month'].str[:7]
df.drop(columns=['time'], inplace=True)
df = df.rename(columns={'longitude': 'Longitude', 'latitude': 'Latitude','dissic':"Carbon"})
df = df.reindex(columns=['Latitude', 'Longitude',"Month","Carbon"])
df['Latitude'] = df['Latitude'].round(3)
df['Longitude'] = df['Longitude'].round(3)

df

In [ ]:
df.to_csv("../postprocessed/Carbon 2009-2021.csv",index=False)

In [ ]:
import xarray as xr
import pandas as pd
from global_land_mask import globe
import pandas as pd
import math
from os import listdir
from os.path import isfile, join

final = None
# Open the .nc file
files = [f for f in listdir("F:/Datasets/PRECIPITATION/") if isfile(join("F:/Datasets/PRECIPITATION/", f))]

for x in range(len(files)):
    ds = xr.open_dataset('../PRECIPITATION/'+str(files[x]))

    # Convert the xarray dataset to a Pandas dataframe
    df = ds.to_dataframe()

    # Close the file
    ds.close()

    df = df.reset_index()

    final = pd.concat([final,df],ignore_index=True)

final

In [30]:
final2=final.copy()

In [33]:
final2 = final[final["longitude"]<36]
final2 = pd.concat([final2,final[final["longitude"]>=355]],ignore_index=True)
df = final2.copy()
df

,latitude,longitude,time,nv,lat_bounds,lon_bounds,time_bounds,precip
0,30.0,0.0,2009-01-01,0,30.0,0.0,2009-01-01,15.230131
1,30.0,0.0,2009-01-01,1,31.0,1.0,2009-01-02,15.230131
2,30.0,1.0,2009-01-01,0,30.0,1.0,2009-01-01,12.261946
3,30.0,1.0,2009-01-01,1,31.0,2.0,2009-01-02,12.261946
4,30.0,2.0,2009-01-01,0,30.0,2.0,2009-01-01,11.150103
...,...,...,...,...,...,...,...,...
1509697,46.0,357.0,2020-12-31,1,47.0,358.0,2021-01-01,0.000000
1509698,46.0,358.0,2020-12-31,0,46.0,358.0,2020-12-31,0.552781
1509699,46.0,358.0,2020-12-31,1,47.0,359.0,2021-01-01,0.552781
1509700,46.0,359.0,2020-12-31,0,46.0,359.0,2020-12-31,0.000000
1509701,46.0,359.0,2020-12-31,1,47.0,360.0,2021-01-01,0.000000

In [3]:
import xarray as xr
import pandas as pd
from global_land_mask import globe
import pandas as pd
import math
from os import listdir
from os.path import isfile, join

final = None
# Open the .nc file
files = [f for f in listdir("F:/Datasets/PRECIPITATION/") if isfile(join("F:/Datasets/PRECIPITATION/", f))]

for x in range(len(files)):
    ds = xr.open_dataset('../PRECIPITATION/'+str(files[x]))

    # Convert the xarray dataset to a Pandas dataframe
    df = ds.to_dataframe()

    # Close the file
    ds.close()

    df = df.reset_index()

    df=df[df["nv"]==0]
    df.drop(columns=['nv','lat_bounds','lon_bounds','time_bounds'], inplace=True)

    final = pd.concat([final,df],ignore_index=True)

final

         latitude  longitude       time     precip
0            30.0        0.0 2009-01-01  15.230131
1            30.0        1.0 2009-01-01  12.261946
2            30.0        2.0 2009-01-01  11.150103
3            30.0        3.0 2009-01-01   6.969514
4            30.0        4.0 2009-01-01  12.600430
...           ...        ...        ...        ...
6627955      46.0      355.0 2020-12-31   0.000000
6627956      46.0      356.0 2020-12-31   0.000000
6627957      46.0      357.0 2020-12-31   0.000000
6627958      46.0      358.0 2020-12-31   0.552781
6627959      46.0      359.0 2020-12-31   0.000000

[6627960 rows x 4 columns]

In [4]:
df = final[(final['longitude']<= 36) | (final['longitude'] >= 355)]
df.loc[df['longitude'] > 354, 'longitude'] -= 360
df

         latitude  longitude       time     precip
0            30.0        0.0 2009-01-01  15.230131
1            30.0        1.0 2009-01-01  12.261946
2            30.0        2.0 2009-01-01  11.150103
3            30.0        3.0 2009-01-01   6.969514
4            30.0        4.0 2009-01-01  12.600430
...           ...        ...        ...        ...
6627955      46.0       -5.0 2020-12-31   0.000000
6627956      46.0       -4.0 2020-12-31   0.000000
6627957      46.0       -3.0 2020-12-31   0.000000
6627958      46.0       -2.0 2020-12-31   0.552781
6627959      46.0       -1.0 2020-12-31   0.000000

[773262 rows x 4 columns]

In [5]:
df = df.rename(columns={'latitude': 'Latituder','longitude': 'Longituder','time': 'Date','precip': 'Precipitation',})
df

         Latituder  Longituder       Date  Precipitation
0             30.0         0.0 2009-01-01      15.230131
1             30.0         1.0 2009-01-01      12.261946
2             30.0         2.0 2009-01-01      11.150103
3             30.0         3.0 2009-01-01       6.969514
4             30.0         4.0 2009-01-01      12.600430
...            ...         ...        ...            ...
6627955       46.0        -5.0 2020-12-31       0.000000
6627956       46.0        -4.0 2020-12-31       0.000000
6627957       46.0        -3.0 2020-12-31       0.000000
6627958       46.0        -2.0 2020-12-31       0.552781
6627959       46.0        -1.0 2020-12-31       0.000000

[773262 rows x 4 columns]

In [6]:
df.to_csv("../RELEVANT CSVS/Precipitation 2009-2020.csv",index=False)